*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.position{
    position: fixed;
    display: none;
}
.logn{
    display: flex;
}
.name{
    flex-grow: 1;
    width: 100%;
}
.password{
    display: block;
}

