@font-face {
    font-family: "Sofia Pro";
    src: url("./fonts/SofiaPro-Medium.woff2") format("woff2"),
      url("./fonts/SofiaPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Sofia Pro";
    src: url("./fonts/SofiaPro-Bold.woff2") format("woff2"),
      url("./fonts/SofiaPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  body{
      background-color: #383838;
  }
.header{
    height: 50px;
    background-color: #383838;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000 !important;
}
.text-logo{
    font-family: Sofia Pro;
    font-size: 17px;
    color: #00d3b9;
    font-weight: 700;
}
.text-logo:hover{
    color: #00d3b9;
}

.app1, .app3{
    width: 20px;
    height: 2px;
    background-color: #b4b4b4;
    transition: 0.5s all ease-out;

}
.menu-app:hover{
    cursor: pointer;
    
}
.app2{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20px;
    height: 2px;
    background-color: #b4b4b4;
    transition: 0.5s all ease-out;
}
.shoose, .fashion, .home, .contact, .pricing-header{
    flex-basis: 30%;
    height: 100%;
    text-align: center;
}
.home{
    border-bottom: 5px solid #00d3b9;
    background-color: rgb(66, 66, 66);
    
}
.text-header-logo{
    flex-basis: 100%;
}
.fashion:hover .text-header-logo,
.shoose:hover .text-header-logo,
.home:hover .text-header-logo,
.pricing-header:hover .text-header-logo,
.contact:hover .text-header-logo{
    background-color: rgb(66, 66, 66);
    color: #00d3b9;
    border-bottom: 5px solid #00d3b9;
    transition: all 0.2s ease-out;
    -webkit-transition: 0.2s all ease-out;
    -o-transition: 0.2s all ease-out;
    -moz-transition: 0.2s all ease-out;
    -ms-transiton:0.2s all ease-out;
}

.text-header-logo{
    
    font-family:Sofia Pro;
    font-size: 19px;
    color: #ffff;
}
.start{
    flex-basis: 30%;
    height: 35px;
    border: 1px solid#00d3b9;
    background-color: #00d3b9;
    border-radius: 50px;
    
}
.text{
    color:#171717;
    font-family: Sofia Pro;
    font-size: 16px;
    font-weight: 700;
}
.start:hover{
    border: 1px solid#00ffe1;
    background-color: #00ffe1;
    cursor: pointer;
    transition: all 0.5s ease-out;
    -webkit-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    -ms-transiton:0.5s all ease-out;
}
.text:hover{
    color: black;
}
.text-sign{
    font-family: Sofia Pro;
    font-size: 14px;
    color: #ffff;
}
.sign , .pricing{
    padding: 5px;
    cursor: pointer;
}
.text-sign:hover{
    color: #ffff;
}
.menu-drop{
    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    top: 50px;
    left: -50%;
    transition: 0.2s all ease-out;
    z-index: 2;
}
.img{
    width: 100%;
    height: 650px;
    object-fit: cover;
    z-index: 1 !important;
}
.heading{
    top: 50px;
    width: 100%;
    text-align: center;
    z-index: 2;
}
.text-heading{
    font-family: Sofia Pro;
    font-size: 50px;
    font-weight: 800;
    color: rgb(221, 221, 221);
}
.search{
    margin-top: 20px;
    width: 75%;
    height: 70px;
    border-radius: 50px;
    outline: none;
    font-family: Sofia Pro;
    font-size: 20px;
    font-weight: 500;
    padding-left: 50px;
    border-style: none;
    color: rgb(78, 78, 78);
    opacity: 0.7;
}
.thumb{
    flex-basis: 15%;
    height: 60px;
    background-color: #00d3b9;
    border-radius: 50px;
}
.thumb:hover{
    background-color: #00ffe1;
    cursor: pointer;
    transition: 1s all ease-out;
    -webkit-transition: 1s all ease-out;
    -o-transition: 1s all ease-out;
    -moz-transition: 1s all ease-out;
    -ms-transiton:1s all ease-out;
}
.thumb2{
    flex-basis: 15%;
    height: 60px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
}
.thumb2:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: 1s all ease-out;
    -webkit-transition: 1s all ease-out;
    -o-transition: 1s all ease-out;
    -moz-transition: 1s all ease-out;
    -ms-transiton:1s all ease-out;
    
}
.thumb2:hover .pri{
    color: #00d3b9;
}
.staring:hover{
    color: black;
    cursor: pointer;
}
.staring{
    font-family: Sofia Pro;
    font-size: 17px;
    color: black;
}
.pri{
    font-family: Sofia Pro;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.bi-search{
    top: 55%;
    right: 15%;
    font-size: 25px;
    color: rgb(59, 59, 59);
}
.login{
    width: 100%;
    height: 100%;
    left: 0;
    top: 50px;
    display: none;
}
.search-header{
    width: 80%;
    border-radius: 50px;
    outline: none;
    border: 1px solid rgb(107, 107, 107);
    background-color: #383838;
    font-family: Sofia Pro ;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.form-sign{
    top: 0;
    width: 35%;
    height: 550px;
    background-color: #383838;
    border-radius: 20px;
}
.bc-show{
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
}
.mr-img{
    cursor: pointer;
}
.bi-cart{
    font-size: 20px;
    color:#00d3b9 ;
}
.text-small{
    color: rgb(221, 221, 221);
}
.sub-text{
    color: #00d3b9;
}
.bi-chevron-down{
    font-size: 17px;
}
.aqua-cart{
    display: block;
    top: -5px;
    right: -10px;
    width: 18px;
    height: 18px;
    border: 0.5px solid #00d3b9;
    background-color: #00d3b9;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    font-family: Sofia Pro;
    color: #ffffff;
}
