@font-face {
    font-family: "Sofia Pro";
    src: url("./fonts/SofiaPro-Medium.woff2") format("woff2"),
      url("./fonts/SofiaPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sofia Pro";
    src: url("./fonts/SofiaPro-Bold.woff2") format("woff2"),
      url("./fonts/SofiaPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*{
    vertical-align: baseline !important;
    list-style: none !important;
    text-decoration: none !important;
}
.container{
    max-width: 1200px !important;
    height: 100%;
}
.header-top{
    background-color: rgb(76, 162, 172);
    height: 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
    right: 0;
    left: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -ms-transiton:0.3s all ease-out;
}
.infomation{
    font-family: Sofia Pro;
    font-size: 15px;
    line-height: 23px;
    color: white;
}
.infomation:hover {
    color: rgb(0, 0, 0);
}
.header{
    height: 100px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 1000 !important;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -ms-transiton:0.3s all ease-out;
}
.logo{
    background-image: url(./img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    object-fit: cover;
}
.text-logo{
    font-family: Sofia Pro;
    font-size: 30px;
    line-height: 38px;
    color: rgb(6, 158, 151);
    font-weight: 700;
    z-index: 5;
    padding-top: 45px;
}
.text-logo:hover{
    color: rgb(0, 255, 255);
}
.shoose, .fashion, .home, .contact, .pricing-header{
    flex-basis: 30%;
    height: 100%;
    text-align: center;
}
.fashion:hover .text-header-logo,
.shoose:hover .text-header-logo,
.home:hover .text-header-logo,
.pricing-header:hover .text-header-logo,
.contact:hover .text-header-logo{
    color: rgb(76, 162, 172) !important;
    transition: all 0.3s ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -ms-transiton:0.3s all ease-out;
}

.text-header-logo{
    flex-basis: 100%;
    font-family:Sofia Pro;
    font-size: 17px;
    line-height: 23px;
    font-weight: 800;
    color: #ffff;
}
.start{
    flex-basis: 30%;
    height: 35px;
}
.text{
    color:#171717;
    font-family: Sofia Pro;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid#00d3b9;
    background-color: #00d3b9;
    border-radius: 50px;
}
.text:hover{
    border: 1px solid#00ffe1;
    background-color: #00ffe1;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-out;
    -webkit-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    -ms-transiton:0.5s all ease-out;
}
.text:hover{
    color: black;
}

.pricing{
    z-index: 0;
    flex-basis: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
}
.pricing:hover{
    background-color: rgb(76, 162, 172);
    transition: all 0.5s ease-out;
    -webkit-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    -ms-transiton:0.5s all ease-out;
}
.pricing:hover .bi-cart{
    color: white;
    transition: all 0.3s ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -ms-transiton:0.3s all ease-out;
}
.pricing:hover .aqua-cart{
    background-color: white;
    color: rgb(76, 162, 172);
    transition: all 0.3s ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -ms-transiton:0.3s all ease-out;
}
.sign , .pricing{
    padding: 5px;
    cursor: pointer;
}

.menu-drop{
    width: 40%;
    height: 100%;
    background-color: rgb(109, 109, 109);
    top: 70px;
    left: -40%;
    transition: all 0.1s ease-out;
    -webkit-transition: 0.1s all ease-out;
    -o-transition: 0.1s all ease-out;
    -moz-transition: 0.1s all ease-out;
    -ms-transiton:0.1s all ease-out;
    z-index: 2;
}

.heading{
    top: 50px;
    width: 100%;
    text-align: center;
    z-index: 2;
}
.login{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
}
:-ms-input-placeholder{
    color: rgb(112, 112, 112);
}
.form-sign{
    top: 30px;
    width: 35%;
    height: 550px;
    border: 0.5px solid rgb(56, 56, 56);
    border-radius: 10px;
    background-image: linear-gradient(-225deg, #000000 90%, rgb(76,162,172) 40%);
}
.mr-img{
    cursor: pointer;
}
.bi-cart{
    font-size: 25px;
    color:rgb(76, 162, 172);
}


.bi-chevron-down{
    font-size: 12px;
}
.aqua-cart{
    display: block;
    top: -5px;
    right: -10px;
    width: 18px;
    height: 18px;
    border: 0.5px solid rgb(76, 162, 172);
    background-color: rgb(76, 162, 172);
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    font-family: Sofia Pro;
    color: #ffffff;
}
.slide-1{
    background-image: url(./img/sport-101.jpg);
    height: 768px !important;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-2{
    background-image: url(./img/sport41.jpeg);
    height: 768px !important;
    background-position: top;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;

}
.slide-3{
    background-image: url(./img/sport71.jpeg);
    height: 768px !important;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;

}
.slide-4{
    background-image: url(./img/bus-690508_1280.jpg);
    height: 768px !important;
    background-position: top;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;

}
.slick-dots{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 16px 0;
    bottom: 20px;
    width: 100%;
    position: absolute;
}
.slick-dots li{
    margin: 0 0.35rem;
    
    border-radius: 50%;
}
.slick-dots button{
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: rgb(228, 228, 228);
}
.slick-dots li.slick-active button{
    background-color: rgb(76, 162, 172);
}
.bi-x{
    font-size: 30px;
    color:rgb(76, 162, 172);
    position: absolute;
    top: 0;
     right: 10px;
     padding: 20px;
}
.bi-x-lg{
    font-size: 20px;
    color:rgb(76, 162, 172);
    position: absolute;
    top: 0;
     right: 10px;
     padding: 20px;
}
.bg-cl{
    flex-basis: 1%;
    height: 30px;
    background-color: rgb(76, 162, 172);
}
.name, .password{
    height: 50px;
    outline: none;
    border: 0.5px solid rgb(134, 134, 134);
    padding-left: 10px;
    font-family: Sofia Pro;
    color: rgb(107, 107, 107);
}
.empty-bg-name, .empty-bg-pass{
    width: 40px;
    height: 50px;
    background-color: rgb(76,162,172);
    position: absolute;
    top: 0;
    left: -35px;
    border-top: 0.5px solid rgb(134, 134, 134);
    border-bottom: 0.5px solid rgb(134, 134, 134);
    border-left: 0.5px solid rgb(134, 134, 134);
    transition: all 0.3s ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -ms-transiton:0.3s all ease-out;
}
.bi-lock-fill, .bi-people-fill, .bi-search, .bi-heart, .bi-person-circle{
    color: white;
    font-size: 20px;
}
.search-item{
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -ms-transiton:0.3s all ease-out;
}
.form-search{
    width: 70%;
    height: 200px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.searching{
    margin-top: 30px;
    flex-basis: 70%;
    height: 50px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(131, 131, 131);
    font-family: Sofia Pro;
    font-size: 14px;
    color: black;
}
.trend{
    font-family: Sofia Pro;
    font-size: 17px;
    color: black;
}
.name:focus + .empty-bg-name{
    left: 0;
}
.name:focus{
    padding-left: 45px;
}
.password:focus + .empty-bg-pass{
    left: 0;
}
.password:focus{
    padding-left: 45px;
}
.btn-sign{
    height: 50px;
    font-family: Sofia Pro;
    outline: none;
    border: none;
    background-color: rgb(76,162,172);
}
.btn-sign:hover {
    box-shadow: 0 0 10px #7debe1, 0 0 40px #7efafa, 0 0 80px #91fcee;
    color: rgb(255, 255, 255);
}
.forget-pass{
    color: white;
    font-family: Sofia Pro;
    font-size: 17px;
}
.regis-btn{
    width: 100px;
    height: 50px;
    background-color: #b3ffe8;
    outline: none;
    border: none;
}
.text-or{
    text-align: center;
    font-family: Sofia Pro;
    color: white;
    font-size: 18;
    line-height: 26px;
}
.icon-app{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.dropdown-menu{
    z-index: 10;
    top: 0;
    left: 10px;
    transform: translateY(60px);
    display: block;
    visibility: hidden;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 5%);
    background-color: white;
    opacity: 0;
    transition: all 0.2s ease;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transiton:0.2s all ease;
}
.shoose:hover .dropdown-menu{
    transform: translateY(25px);
    opacity: 1;
    visibility: visible;
}
.dropdown-link{
    font-family: Sofia Pro;
    font-size: 15px;
    line-height: 23px;
    font-weight: 500px;
    color: black;
    width: 100%;
    text-align: start;
}
.item-dropdown:hover .dropdown-link{
    color: black;
    border-bottom: 1px solid black;
}
.item-dropdown{
    margin-top: 15px;
}