@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/SofiaPro-Medium.woff2") format("woff2"),
    url("../fonts/SofiaPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/SofiaPro-Bold.woff2") format("woff2"),
    url("../fonts/SofiaPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  overflow: hidden;
  position: relative;
  border: 1px solid rgb(35, 94, 255);
    margin-right: 10%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
 
}

.text {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height, or 120% */
  color: #ffffff;
  padding-top: 70px;
  text-align: center;
}
.textP {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  text-align: center;

  color: #ffffff;
  width: 377px;
  margin-left: auto;
  margin-right: auto;
}
.prev:hover, .next:hover{
    cursor: pointer;
}
span:hover{
    cursor: pointer;
}
.slide{
    transition: all 1s;
}
.prev{
  opacity: 0.3;
}
.circle{
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  opacity: 0.3;
}
.bi-cirle{
  position: absolute;
  
}
.line-circle{
  background: rgba(77, 77, 77, 0.75);
border-radius: 5px;
width: 26px;
height: 10px;
position: absolute;
transition: all 1s;
}

