* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #999491, #ff993c);
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.display-fontcolor {
  width: 699px;
  height: 60px;
  background-color: #322a43;
  margin-top: 268px;
}
.change-color {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 12px;
}
.btn {
  width: 99px;
  height: 44px;
  background: #ffffff;
  border-radius: 8px;
  font-family: cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
}
.item-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.select-color {
  width: 210px;
  height: 100px;
  border: 1px solid black;
}
.color {
  width: 100px;
  height: 50px;
  margin-top: 20px;
}
.font-color {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.color-text1 {
    height: 100%;
  color: white;
  font-family: Fira Code;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

