.three-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 50px;
}
.icon4,
.icon5 {
  position: absolute;
}

.icon4{
    left: 650px;
}
.icon5{
    top: 600px;
    right: 0;
}
.three-text {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  margin-left: 102px;
  margin-top: 50px;
}
.three-text1 {
  font-family: Mulish;
  /* width: 100%; */
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  margin-left: 102px;
  /* or 176% */

  color: #7d7987;

  mix-blend-mode: normal;
  margin-bottom: 33px;
}
.three-img{
  margin-left: 45px;
}
.btn-content1{
  margin-left: 102px;
  margin-top: 47px;
  width: 180px;
  height: 60px;
  background: #fb8f1d;
  border-radius: 8px;
  font-family: cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-style: none;
  cursor: pointer;
}
.three-heading{
  margin-top: 150px;
}
