*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.todo{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(190deg, #13ffb8 50%, #1ef1d5 50%);
}

form{
    margin-top: 10px;
    margin-left: 10px;
}
.form2{
    border: 1px solid black;
    width: 270px;
    height: 70px;
    font-family: cursive;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    padding-top: 0;
    margin-left:10px;
    padding-left: 10px;
}
.name{
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    font-family: cursive;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}
.age{
    width: 200px;
    height: 30px;
    font-family: cursive;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}
.d-flex{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.time, .cowndown{
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.form2{
    background-color: rgb(0, 151, 144);
}
.form3{
    width: 250px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5bffd6;
}
.label-date, .date{
    padding-left: 10px;
    margin-top: 5px;
}
.form4{
    width: 480px;
    height: 395px;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    
}
.task{
    width: 400px;
    height: 50px;
    background-color: rgb(0, 195, 255);
    font-family: cursive;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    padding-right: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
input{
    border-style: none;
    outline: none;
    border-radius: 10px;
}
.bi-plus-square-fill{
    color: rgb(0, 115, 150);
    font-size: 50px;
    position: absolute;
    right: 10px;
    top: 8px;
    

}
.note{
    width: 460px;
    height: 50px;
    background-color: rgb(122, 215, 243);
    font-family: cursive;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    padding-right: 50px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
.result{
    font-family: cursive;
    font-size: 19px;
    color: white;

}
.text-task, .text{
    font-family: cursive;
    font-size: 15px;
    color: rgb(168, 0, 184);
    margin-left: 15px;
    
}
.date{
    background-color: #5bffd6;
    width: 250px;
    font-family: cursive;
    font-size: 14px;
}
.checked{
    width: 480px;
    height: 395px;
    background-color: #5bffd6;
    position: absolute;
    bottom: -395px;
    right: 0;
    transition: 0.3s all ease-out;
}
.empty-span{
    width: 100%;
    height: 10px;
    background-color: #04a3ff;
    position: absolute;
    top: -10px;
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.empty-span:hover{
    transform: scaleY(2);
}